<div class="container">
  <div class="row g-4">

    <!-- CARD 1 -->
    <div class="col-md-4">
      <div class="card bg-dark text-light shadow">
        <img src="https://ae-pic-a1.aliexpress-media.com/kf/Se51ca66e9c75407a83692d30231d2b78D.png_640x640.png_.avif" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Mouse Rapoo VT3 PRO</h5>
          <p class="card-text"> Escolha perfeita para os mais exigentes.</p>

          <button class="btn btn-primary w-100 mb-3">Carrinho</button>

          <ul class="list-unstyled">
            <li><strong>Preço:</strong> R$ 300,00</li>
            <li><strong>Desconto:</strong> 10%</li>
            <li><strong>Estoque:</strong> 72 unidades</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="col-md-4">
      <div class="card bg-dark text-light shadow opacity-50">
        <img src="https://images9.kabum.com.br/produtos/fotos/634469/controle-wireless-8bitdo-ultimate-2c-mint-81hd03_1730748953_gg.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Controle 8BitDo Ultimate 2C</h5>
          <p class="card-text">Recursos avançados e design ergonômico.</p>

          <button class="btn btn-secondary w-100 mb-3" disabled>Carrinho</button>

          <ul class="list-unstyled">
            <li><strong>Preço:</strong> R$ 250,90</li>
            <li><strong>Desconto:</strong> 10%</li>
            <li><strong>Estoque:</strong> 0 unidades</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- CARD 3 -->
    <div class="col-md-4">
      <div class="card bg-dark text-light shadow">
        <img src="https://m.media-amazon.com/images/I/51B+GV4xCBL.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Teclado Mecânico E-Yooso Z686</h5>
          <p class="card-text">Teclado mecânico que combina design ergonômico e funcionalidade.</p>

          <button class="btn btn-primary w-100 mb-3">Carrinho</button>

          <ul class="list-unstyled">
            <li><strong>Preço:</strong> R$ 220,90</li>
            <li><strong>Desconto:</strong> 10%</li>
            <li><strong>Estoque:</strong> 31 unidades</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- CARD 4 -->
    <div class="col-md-4">
      <div class="card bg-dark text-light shadow">
        <img src="https://m.media-amazon.com/images/I/71i5jjOyOEL._AC_SY300_SX300_QL70_ML2_.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Headset Havit H2002d</h5>
          <p class="card-text">Som potente e conforto duradouro.</p>

          <button class="btn btn-primary w-100 mb-3">Carrinho</button>

          <ul class="list-unstyled">
            <li><strong>Preço:</strong> R$ 150,00</li>
            <li><strong>Desconto:</strong> 10%</li>
            <li><strong>Estoque:</strong> 234 unidades</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- CARD 5 -->
    <div class="col-md-4">
      <div class="card bg-dark text-light shadow">
        <img src="https://m.media-amazon.com/images/I/71+RKbvR-qL._AC_SX679_.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Monitor Gamer AOC HERO QUAD 27" 155Hz</h5>
          <p class="card-text">Imagem nítida, atualização ultrarrápida e resposta instantânea.</p>

          <button class="btn btn-primary w-100 mb-3">Carrinho</button>

          <ul class="list-unstyled">
            <li><strong>Preço:</strong> R$ 1388,00</li>
            <li><strong>Desconto:</strong> 10%</li>
            <li><strong>Estoque:</strong> 121 unidades</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- CARD 6 -->
    <div class="col-md-4">
      <div class="card bg-dark text-light shadow">
        <img src="https://m.media-amazon.com/images/I/61znLtQ1T3L._AC_SX679_.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Suporte Articulado ELG F80N</h5>
          <p class="card-text">Diversos ajustes. É a escolha certa para quem quer versatilidade e conforto no PC.</p>

          <button class="btn btn-primary w-100 mb-3">Carrinho</button>

          <ul class="list-unstyled">
            <li><strong>Preço:</strong> R$ 164,00</li>
            <li><strong>Desconto:</strong> 10%</li>
            <li><strong>Estoque:</strong> 67 unidades</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>